mixin Footer
	footer.footer
		.container
			.footer__inner
				img.footer__image(src="assets/img/footer-image.jpg" width="480" height="133" loading="lazy" alt="")
				.footer__content
					.footer__info
						.footer__info-text Адреса компанії: 01001, Україна, м. Київ, вул. Мечникова, 2
						.footer__info-text Телефон: <a href="tel:0962980030">+38(096) 298-00-30</a>
						.footer__info-text Графік роботи: Пн-Вс 9:00 - 21:00
					.footer__links
						a.footer__link(href="assets/pdf/public-offer.pdf" target="_blank") Угода користувача
						a.footer__link(href="assets/pdf/privacy-policy.pdf" target="_blank") Політика конфіденційності
						a.footer__link(href="assets/pdf/warranty-obligations.pdf" target="_blank") Умови гарантії та повернення
					.footer__bottom Всі права захищено © 2024
