mixin Header
	<header class="header">
		<div class="container">
			<div class="header__wrap">
				<div class="header__aside">
					<a class="header__logo" href="/">
						<img class="header__logo-i" src="assets/img/logo.png" width="64" height="64" loading="lazy" alt="Minilight"/>
					</a>
					<div class="header__content">
						div class="header__title" Mini led фонарик
						div class="header__ subtitle" Потужний, портативний, універсальний
					</div>
				</div>
				<div class="header__contacts">
					div class="header__contacts-title" Щоденно з 08:00 по 20:00
					<div class="header__contacts-wrap">
						<a class="header__contacts-phone" href="tel:0962980030">
							<div class="header__contacts-phone-icon" />
							div class="header__contacts-phone-value" +38 (096) 298 00 30
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
