mixin InfoBox(config)
	section.info-box
		h3.info-box__title Заощаджуй прямо зараз!
		.info-box__wrap
			.info-box__text 2 шт = <strong>548</strong> грн ( знижка -50грн )
			.info-box__text 3 шт = <strong>797</strong> грн ( знижка -100грн )
			.info-box__text 4 шт = <strong>1046</strong> грн ( знижка -150грн )
