mixin PropertyBox(config)
	section.property-box
		h2.property-box__title <span>ХАРАКТЕРИСТИКИ</span> <br/>АКУМУЛЯТОРНОГО LED ЛІХТАРИКА
		img.property-box__image(src="assets/img/property-box-image.jpg" width="480" height="368" loading="lazy" alt="")
		table.property-box__table
			tr
				th Рівне світло створюють:
				td білі, жовті та червоні COB-світлодіоди;
			tr
				th Кількість режимів роботи:
				td 7 (є червоне світло);
			tr
				th Ємність акумулятора:
				td 500 мАг;
			tr
				th Час автономної роботи:
				td до 4 годин;
			tr
				th Роз'єм для заряджання:
				td Type-C;
			tr
				th Індикатори:
				td Рівень заряду (LED);
			tr
				th Захист від вологи:
				td IPX4;
			tr
				th Оснащений:
				td карабіном, вбудований магніт, аварійний молоток, свисток, прикурювач, функція викрутки, відкривання для пляшок;
			tr
				th Матеріал:
				td пластик + алюмінієвий сплав;
			tr
				th У комплекті:
				td зарядний кабель.
		.property-box__footer
			a.property-box__button.btn.btn-default.scroll-link(href="#form") Замовити зі знижкою
